@model UpdateCategoryVM
@{
    ViewData["Title"] = "Update";
}

<div class="container mt-5">
    <div class="row">
        <form method="post" enctype="multipart/form-data" style="color:black;">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name">
            </div>
            <div id="CategoryPhoto" class="form-group">
                <label asp-for="Photo"></label>
                <input class="form-control" asp-for="Photo">
            </div>
            <br>
            <br>
            <button type="submit" class="btn btn-primary">Update Category</button>
        </form>
    </div>
</div>
